<div class="mt-5 footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
          <div>
            <img src="{{info.logo.url}}" alt="" style="height:100px;">
            <h2>We are making waves</h2>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
          <h2>category</h2>
          <ul class="list unstyled">
            <li><a href="">mercedes cars</a></li>
            <li><a href="">lexus cars</a></li>
            <li><a href="">honda cars</a></li>
            <li><a href="">toyota cars car</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
          <h2>quick links</h2>
          <ul class="list-unstyled">
            <li><a href="{% url 'home' %}">Home</a></li> 
            <li><a href="{% url 'products' %}">Products</a></li>
            <li><a href="{% url 'contact' %}">contact</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center" >
          <h2>Follow us</h2> 
          <ul class="list-unstyled">
            <li><a href=""><i class="bi bi-facebook"></i>facebook</a></li>
            <li><a href=""><i class="bi bi-twitter"></i>Twitter</a></li>
            <li><a href=""><i class="bi bi-instagram"></i>Instagram</a></li>
            <li><a href=""><i class="bi bi-tiktok"></i>Tiktok</a></li>
          </ul>
        </div>
      </div>
      <div class="row text-center footer2">
        <div class="col-12">
          <p class="">&copy; Copyright 2022 Slick Boom | all rights reserved | developed by Yu Su Ph</p>
        </div>
      </div>
    </div>
  </div>